/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Sep 2018, 10:18:42 AM
    Author     : millerr
*/

.thebackground {
    -fx-background-color : #B3E5FC;
}

.sectionTitle {
    -fx-text-fill   : #01579B;
    -fx-font-weight : bolder;
    -fx-font-size   : 14px;
}

.warningText {
    -fx-fill : #0277BD;
}

.inputSection {
    -fx-background-color : #E1F5FE;
}

.button {
    -fx-background-color : #29B6F6;
    -fx-text-fill        : #E1F5FE;
    -fx-font-weight      : 900;
}

.button:hover {
    -fx-background-color : #01579B;
}