.button{
    -fx-background-color:#026338;
    -fx-font-size: 20;
    -fx-background-radius: 10;
}
.button:hover{
    -fx-font-size: 24;
    -fx-background-color: #1B3E33;
    -fx-text-fill:  white;
}
.button:pressed{
    -fx-background-color:#048A49;
    -fx-text-fill: white;
}
